<h3>
  <clr-icon shape="user"></clr-icon>
    {{ title }}
</h3>

<clr-datagrid>
  <clr-dg-column>Customer Name</clr-dg-column>
  <clr-dg-column>CustomerID</clr-dg-column>
  <clr-dg-column>Consignments</clr-dg-column>
  <clr-dg-column>Balance Due</clr-dg-column>
  <clr-dg-column>Last Activity Date</clr-dg-column>
  <clr-dg-column>Last Activity Type</clr-dg-column>

  <clr-dg-row *ngFor="let consigner of consigners" [clrDgItem]="consigner">
      <clr-dg-action-overflow>
          <button class="action-item" (click)="onEdit(consigner)">Edit</button>
          <button class="action-item" (click)="onDelete(consigner)">Delete</button>
      </clr-dg-action-overflow>
      <clr-dg-cell>{{consigner.lastName +', ' + consigner.firstName}}</clr-dg-cell>
      <clr-dg-cell>{{consigner.id}}</clr-dg-cell>
      <clr-dg-cell>{{consigner.numConsignments}}</clr-dg-cell>
      <clr-dg-cell>{{consigner.amountDue | currency}}</clr-dg-cell>
      <clr-dg-cell>{{consigner.updateDate | date}}</clr-dg-cell>
      <clr-dg-cell>{{consigner.mobilePhone}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="pageSize">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Customers per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} customers
  </clr-dg-pagination>
</clr-dg-footer>
</clr-datagrid>
