<clr-datagrid>
  <clr-dg-column>Filed As</clr-dg-column>
  <clr-dg-column>CustomerID</clr-dg-column>
  <clr-dg-column>Consignments</clr-dg-column>
  <clr-dg-column>Balance Due</clr-dg-column>
  <clr-dg-column>Last Activity Date</clr-dg-column>
  <clr-dg-column>Last Activity Type</clr-dg-column>

  <clr-dg-row *ngFor="let user of users" [clrDgItem]="user">
      <clr-dg-action-overflow>
          <button class="action-item" (click)="onEdit(user)">Edit</button>
          <button class="action-item" (click)="onDelete(user)">Delete</button>
      </clr-dg-action-overflow>
      <clr-dg-cell>{{user.name}}</clr-dg-cell>
      <clr-dg-cell>{{user.id}}</clr-dg-cell>
      <clr-dg-cell>3</clr-dg-cell>
      <clr-dg-cell>$ 45.00</clr-dg-cell>
      <clr-dg-cell>{{user.creation | date}}</clr-dg-cell>
      <clr-dg-cell>{{user.color}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{users.length}} customers</clr-dg-footer>
</clr-datagrid>
